<!DOCTYPE html>{% load static from staticfiles %}
<html lang="en">
    <head>
        <title>jQuery-RPC</title>
        <meta charset="utf-8" />
        <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
        <link href="{% static 'css/base.css' %}" rel="stylesheet">

        {% block js %}
        <script src="{% static 'djangorpc/js/jquery-1.9.1.min.js' %}"></script>
        <script src="{% static 'djangorpc/js/utils.js' %}"></script>
        <script src="{% static 'djangorpc/js/rpc.js' %}"></script>
        <script src="{% static 'djangorpc/js/jquery.form.js' %}"></script>

        <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>

        <script>
	    function getCookie(name) {
    	        var cookieValue = null;
		if (document.cookie && document.cookie != '') {
       		    var cookies = document.cookie.split(';');
        	    for (var i = 0; i < cookies.length; i++) {
            	        var cookie = jQuery.trim(cookies[i]);
            		// Does this cookie string begin with the name we want?
	                if (cookie.substring(0, name.length + 1) == (name + '=')) {
                	    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                	break;
            		}
        	    }
    		}
    		return cookieValue;
	    }
	    //console.log(getCookie('csrftoken')));

	    $.ajaxSetup({
	        beforeSend: function (xhr, settings) {
        	    if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
            	        // Only send the token to relative URLs i.e. locally.
            	        xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
        	    }
    	        },
    		dataType: 'json',
    		error:function(jqXHR, textStatus, errorThrown){
        	    alert(textStatus +'\n'+ errorThrown)
                }
	    });

            //Show error message for RPC exceptions
            djangoRPC.RPC.observer.addListener('exception', function(event){
                alert('Error during RPC request: '+event.message);
            });
        </script>
        <script src="{% url 'jsapi' %}"></script>
        <script>RpcApi.log_something('test')</script>
        {% endblock %}
    </head>
    <body>
        <div class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>
                    <a class="brand" href="/">Django RPC demo</a>
                    <div class="nav-collapse">
                        <ul class="nav">
                            <li><a href="{% url 'main:hello' %}">1. Hello, world!</a></li>
                            <li><a href="{% url 'main:form' %}">2. Form</a></li>
                            <li><a href="{% url 'main:upload_form' %}">2.1 Form with file</a></li>
                            <li><a href="{% url 'main:js_api' %}">3. JS API</a></li>
                            <li><a href="{% url 'main:test_batch' %}">Test batch</a></li>
                            <li><a href="{% url 'tricks:index' %}">Tricks</a></li>
                        </ul>
                    </div><!--/.nav-collapse -->
                </div>
            </div>
        </div>

        <div class="container">
            {% block content %}{% endblock %}
        </div> <!-- /container -->
    </body>
</html>
