{% extends 'main/base.html' %}

{% block head %}
    <script src="{{ MEDIA_URL }}js/jquery-1.4.2.js"></script>
    <script src="{{ MEDIA_URL }}js/jquery.util.js"></script>
    <script src="{{ MEDIA_URL }}js/jquery.rpc.js"></script>
    <script src="{% url main:api %}"></script>
    <script src="{% url main:custom_router_api %}"></script>    
    <script>
        //MainApi.func1(self, val, d=123, *args, **kwargs)
        //MainApi.func2(self, user)
        MainApi.func1(1, 2, 3, function(){
            //params for *args
            console.log(arguments)
        });
        MainApi.func1(1, function(){
            //d will have default value
            console.log(arguments)
        });               
        MainApi.func2(function(){
            console.log(arguments)
        });
        MainApi.func2(1, function(){
            //{'error': 'Undefined action class'}
            console.log(arguments)
        });
        MainApi.func1(function(){
            //{'error': 'Undefined action class'}
            console.log(arguments)
        });
            
        OtherApi.func1(function(){
            console.log(arguments)
        });
        //all previous are sended in one request
        
        //These are sended not in one request, because enable_buffer == False
        //From other router
        SomeApi.func1(function(){
            //this == {a: 1}
            console.log(this, arguments)
        }, {a: 1});
        SomeApi.func1(function(){
            console.log(arguments)
        });        
    </script>
{% endblock %}

{% block body %}

{% endblock %}