{% extends 'main/base.html' %}

{% block head %}
    {{ block.super }}
    <script src="{% url main:api %}"></script>
{% endblock %}

{% block body %}
    <h2>#2 Test form sending with RPC</h2>
    <a href="{% url main:index %}">back</a>
    <div>
        <pre>
        #rpc.py
        from utils.rpc import RpcRouter
        from utils.rpc import Error, Msg, RpcHttpResponse
        
        class MainApiClass(object):
            
        def submit(self, rdata, user):
            form = FeedbackForm(rdata)
            if form.is_valid():
                form.send()
                response = RpcHttpResponse()
                response['success'] = True
                response.cookies['test-cookie'] = 'TEST'
                return response
            else:
                return Error(form.get_errors())
                
        router = RpcRouter('main:router', {
            'MainApi': MainApiClass()
        })                
        </pre>
    </div>
    <p class="description">
        This is simple Django form. We are going send it to RPC with a little patched
        jquery.form plugin. This looks like this:
    </p>
        <pre>
        $('#feedback_form').ajaxForm({
            type: 'RPC',
            api: {
                submit: MainApi.submit
            }...            
        </pre>
    <p class="description">        
        and few actions to show errors. You can look at source code of this page.<br/>
        Id does not support file uploading like Ext.Direct.<br/><br/>
        And we can see a little hack for sending cookie with RpcHttpResponse.
    </p>      
    <form action="." method="post" id="feedback_form">
        <div class="global-errors"></div>
        <table>
        {{ form }}
        <tr>
            <td></td><td><button>Submit</button></td>
        </tr>
        </table>
    </form>
    <script>
        $('#feedback_form').ajaxForm({
            type: 'RPC',
            api: {
                submit: MainApi.submit
            },
            success: function(data, status, xhr, $form){
                $.jGrowl(data.toSource().slice(1,-1));
                if (data.success){
                    $form.resetForm();
                } else {
                    for (key in data.error){
                        var $field = $('input[name="'+key+'"], textarea[name="'+key+'"]', $form);
                        var error = '<p class="error_list">'+data.error[key]+'</p>';
                        if ($field.length){
                            $field.before(error);
                        }else{
                            $('.global-errors', $form).prepend(error);
                        }
                    };
                }
            },
            beforeSubmit: function(formData, $Form, options){
                $('p.error_list', $Form).remove();
            }        
        });    
    </script>    
{% endblock %}